version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres-soutenance
    environment:
      POSTGRES_DB: Ai_Soutenance
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
